.item {
    background: salmon;
    padding: 30px 50px;
    border-radius: 20px;
    text-align: center;
}

.emoji {
    display: block;
    margin-bottom: 42px;
    transition: transform 0.3s;
    font-size: 32px;
}

.emoji.zoomed {
    transform: scale(2);
}

.btn {
    background: transparent;
    border: solid 1px;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    color: white;
    transition:
        background 0.3s,
        color 0.3s;
}

.btn:hover {
    background: white;
    color: salmon;
}
